[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
python-dotenv = "*"
ydata-profiling = "*"
openpyxl = "*"
pexpect = "*"
ipywidgets = "*"
jupyter = "*"
sqlalchemy = "*"
scikit-learn = "*"
graphviz = "*"
featuretools = "*"

[dev-packages]

[requires]
python_version = "3.9"
